
.head{
    text-align: center;
    font-size: 40px;
    top:0;
    color:rgb(255, 255, 255);
    margin-block: auto;
    margin: 0px;
    font-family: 'Protest Strike', sans-serif;
    text-decoration: underline;
}

